<div>
	<h2>Who are we?</h1>
	<p>We are a team of Computer Science students looking to make searching for and watching movies and TV shows simpler and more enjoyable!</p>
</div>
<div>
	<h2>How do we do it?</h2>
	<p>We utilize IBM Watson Assistant and Discovery to make movie decisions for you, and you are able to provide feedback on the quality of the movie. Be sure to head over to our homepage to start chatting today!</p>
</div>