<div class = "text-center">
	<h1>Welcome to IBeMma!</h1>
	<p>Welome to our Visual Media Recommender! Chat with us to find movies you may be interested in.</p>
</div>
<div class = "text-center">
	<button><%= link_to "Chat with Us!", "http://localhost:3001/", target: :_blank %></button>
</div>