<div class = "text-center">
	<h1>Welcome to Movie on Rails!</h1>
	<p>Welome to our Visual Media Recommender! Chat with us to find movies you may be interested in.</p>
</div>

<div class = "text-center">
	<button onclick="location.href='http://localhost:3000/rooms/new'" type="button">Chat with us!</button>
</div>

