<div class = "text-center">
	<h1>Welcome to Movie on Rails!</h1>
	<p>Welome to our Visual Media Recommender! Chat with us to find movies you may be interested in.</p>
</div>

<div class = "text-center">
	<%= simple_form_for Room.new do |f| %>
		<%= f.submit "Start chatting", class: 'btn btn-success' %>
	<% end %>
</div>

