<div>
	<table cellspacing="30">
		<tr>
			<th>Title</th>
			<th>Movie Poster</th>
			<th>Genre</th>
			<th>Directed by</th>
		</tr>
		<tr>
			<td>Star Wars: The Empire Strikes Back</td>
			<td><img src="/star_wars.jpg" alt="Star Wars: The Empire Strikes Back"></td>
			<td>Science Fiction</td>
			<td>Irvin Kershner</td>
		</tr>
	</table>
</div>