
  <h2>User Preferences</h2>


<div class = "pref">
	<div class = "column">
		<p> Preferred Language:
			<select class="mdb-select md-form">
			  <option value="en">English</option>
			  <option value="sp">Spanish</option>
			  <option value="fr">French</option>
			</select>

		</p>
	</div>

	<div class = "column">
		<p> Include Adult Content:
			<select class="mdb-select md-form">
			  <option value="adult_no">No</option>
			  <option value="adult_yes">Yes</option>
			</select>
		</p>
	</div>

	<div class = "column">
		<p> Sort Results By:
			<select class="mdb-select md-form">
			  <option value="pop_desc">Descending Popularity</option>
			  <option value="pop_asc">Ascending Popularity</option>
			  <option value="date_desc">Descending Release Date</option>
			  <option value="date_asc">Ascending Release Date</option>
			  <option value="rev_desc">Descending Revenue</option>
			  <option value="rev_asc">Ascending Revenue</option>
			</select>
		</p>
	</div>
</div>


<div class = "pref">
	<p> Earliest Movie Release Year </p>
	<input type="range" min="1890" max="2020" value="2000" class="slider" id="year_slider">
	<p>Year: <span id="year_input"></span></p>
</div>

<div class = "pref">
	<p> Maximum Movie Length (minutes) </p>
	<input type="range" min="0" max="400" value="100" class="slider" id="length_slider">
	<p>Minutes: <span id="length_input"></span></p>
</div>



<button class = "button"> Submit </button>

<script>
var year_slider = document.getElementById("year_slider");
var year_output = document.getElementById("year_input");
year_output.innerHTML = year_slider.value;

var length_slider = document.getElementById("length_slider");
var length_output = document.getElementById("length_input");
length_output.innerHTML = length_slider.value;


year_slider.oninput = function() {
  year_output.innerHTML = this.value;
} 

length_slider.oninput = function() {
  length_output.innerHTML = this.value;
} 
</script>


<style>

.column {
	float: left;
	width: 33.33%
}

.pref {
	padding : 50px;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.button {
	padding: 4px;
	font-size: 20px;
	border-radius : 10px;
	width: 100%;
	color: white;
	background-color: #4CAF50;
}
</style>
