<div>
  <table cellspacing="30">
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Movie Poster</th>
    </tr>
    <tr>
      <td><%= @result.title %></td>
      <td><%= @result.year %></td>
      <td><%= image_tag @result.poster%></td>
    </tr>
  </table>
</div>